@charset "UTF-8";
/* CSS Document */
.fa{
	color:rgba(0,0,0,1.00);
	font-size: 2rem;
}

.hide-text {
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	display: block;
}
	

.social a {
	text-align:center;
	margin:auto;
}

.social li{
 	list-style-type:none;
	margin:auto;
	display:inline-block;
	text-align:center;
}


footer{
	background-color: #FCB3F3
}

