@charset "UTF-8";
/* CSS Document */
.logo{
	width: 30%;
	float:left;
}



nav{
	background-color: #FCB3F3;
	overflow: auto;
}


nav ul{
	display: block;
}

nav li {
	display:inline-block;
	list-style:none;
	text-decoration:none;
}

.main-nav a,
.main-nav a:link,
.main-nav a:visited {
	font-family:Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", sans-serif;
	text-transform:uppercase;
	font-weight:bold;
	font-style:none;
	text-decoration:none;
	color:#FFFFFF;
	padding-right:6rem;
	padding-bottom:0;3
}

.main-nav a:hover,
.main-nav a:focus,
.main-nav a:active{
	border-bottom: 2px #906094;
}

ul li:before {
	content: "";
}


