@charset "UTF-8";
/* CSS Document */
header{
	border-bottom: 3px solid #000000;
	margin-bottom: 1em;
}

.logo{
	width: 20em;
	float:left;
}



nav{
	overflow: auto;
}



.main-nav li {
	display:inline-block;
	list-style:none;
	text-decoration:none;
}

.main-nav a,
.main-nav a:link,
.main-nav a:visited {
	font-family:Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", sans-serif;
	text-transform:uppercase;
	font-weight:bold;
	font-style:none;
	text-decoration:none;
	color:#000000;
	border-bottom:none;
	margin-right:10rem;
}

.main-nav li:first-child {
	padding:0;
}

.main-nav a:hover,
.main-nav a:focus,
.main-nav a:active{
	border-bottom: 2px solid #906094;
}

ul li:before {
	content: "";
}

.banner{
	background:url(../images/banner.jpg) no-repeat center center;
	background-size: cover;
	padding: 5rem 1rem 1rem;
}

.banner h2{
	color:#fff;
}
