@charset "UTF-8";
/* CSS Document */

 #tfheader{
		background-color:#fffff;
	}
	#tfnewsearch{
		float:right;
		padding:20px;
	}
	.tftextinput{
		margin: 0;
		padding: 5px 15px;
		font-family: Arial, Helvetica, sans-serif;
		font-size:14px;
		border:2px solid #000000; border-right:0px;
		border-top-left-radius: 5px 5px;
		border-bottom-left-radius: 5px 5px;
	}
	.tfbutton {
		margin: 0;
		padding: 5px 15px;
		font-family: Arial, Helvetica, sans-serif;
		font-size:14px;
		outline: none;
		cursor: pointer;
		text-align: center;
		text-decoration: none;
		color: #ffffff;
		border: solid 2px #000000; 
		background: #F1A0F8 ;
		border-top-right-radius: 5px 5px;
		border-bottom-right-radius: 5px 5px;
	}
	
	.tfbutton:hover {
		text-decoration: none;
		background: #906094;
	}
	
	/* Fixes submit button height problem in Firefox */
	.tfbutton::-moz-focus-inner {
	  border: 0;
	}
	.tfclear{
		clear:both;
	}

