# Accessibility Testing Report

User testing was conducted by Chelsey Frohlick on March 31 between the times of 4 and 6 with the following participants:

- Jared Label (voice over)
- Mark Collantes (voice over)
- Shawna Guy (voice over)
- Hasan Yavuz (tab)
- Evan Grice (tab)
- Stephen Pollock (tab)

## Tasks

1. Add an item to the cart
2. Search for an item
3. Go to the category "eyes"

---

## Individual Results & Observations

### Jared Label

- went through all tasks with ease.

### Mark Collantes

- Went through all tasks with ease

### Shawna Guy

- Took a little longer but was able to complete tasks.

### Hasan Yavuz

- completed all tasks with ease

### Evan Grice

- Completed all tasks with ease.

### Stephen Pollock

- Completed all tasks with ease.

---

## Trends

### Critical, Needs Fixing, Unable to Complete

- {All participants had this problem…}
- etc.

### Serious, Causes Frustration, May Hinder Completion

- {Two of the participants succeeded where one of them failed…}
- etc.

### Minor, Annoying, Won’t Hinder Completion

- {Participants pointed out this inconsistency…}
- etc.