---
layout: default
title: home
showbanner: yes
bannertext: HUGE SALE 50% OFF!
meta: "buy make-up online"
---

<div class="grid">

	<div class="unit unit-s-1 unit-m-1-2 unit-l-1-2">
        <div class="media unit unit-s-1 unit-m-1 unit-l-1 gutter">
        
         {% include promo-large.html title="Promo 1" desc="Super awesome sale" %}
        </div>
        
        <div class="media unit unit-s-1 unit-m-1 unit-l-1 gutter">
        
         {% include promo-large.html title="Promo 1" desc="Super awesome sale" %}
        </div>
     </div>

	<div class="unit unit-s-1 unit-m-1-2 unit-l-1-2 center">
        <div class="media unit unit-s-1 unit-m-1-2 unit-l-1-2">
        
                {% include promo-small.html title="Promo 1" desc="Super awesome sale" %}
            
        </div>
        
        
        <div class="media unit unit-s-1 unit-m-1-2 unit-l-1-2">
        
                {% include promo-small.html title="Promo 1" desc="Super awesome sale" %}
            
        </div>
        
        <div class="media unit unit-s-1 unit-m-1-2 unit-l-1-2">
        
              {% include promo-small.html title="Promo 1" desc="Super awesome sale" %}
            
		</div>
        
         <div class="media unit unit-s-1 unit-m-1-2 unit-l-1-2">
        
              {% include promo-small.html title="Promo 1" desc="Super awesome sale" %}
            
		</div>
 	</div>

</div>

