---
layout: default
title: Search Results
showbanner: yes
bannertext: HUGE SALE 50% OFF!
meta: "buy make-up online"
---
<div class="grid">

<h1> Search Results </h1>


    <div class="media unit unit-s-1 unit-m-1-2 unit-l-2 center">
        
        {% include promo-small.html title="Urban Decay Naked Palette" desc="Full of neutral everyday colors for a natural look" %}
        
    </div>
    
    <div class="media unit unit-s-1 unit-m-1-2 unit-l-2 center">
        
        {% include promo-small.html title="Kat Von D True Romance Palette" desc="A romantic combination of colors for a sultry look" %}
        
    </div>

    
</div>