# User Testing Report

User testing was conducted by {your name} on {specific date} between the times of {start time} and {end time} with the following participants:

- Daniela Chavez
- Mark Collantes
- Jared Lebel

## Tasks

1. search for an item
2. add something to the cart
3. View a category

---

## Individual Results & Observations

### Daniela Chavez

- She typed in the search bar as expected
- She clicked the "add to cart" button to add an item to the cart
- No questions where asked
- Very quick use of the website

### Mark Collantes

- he typed in the search bar as expected
- he clicked the "add to cart" button to add an item to the cart
- suggested that I make the logo return to the home page.
- Very quick use of the website

### Jared Lebel

- he typed in the search bar as expected
- he clicked the "add to cart" button to add an item to the cart
- suggested that I make the logo return to the home page.
- Very quick use of the website
---

## Trends

### Critical, Needs Fixing, Unable to Complete

- None

### Serious, Causes Frustration, May Hinder Completion

- None


### Minor, Annoying, Won’t Hinder Completion

- make logo a link to the homepage
