---
layout: default
title: products
showbanner: yes
bannertext: HUGE SALE 50% OFF!
meta: "buy make-up online"
---
<h1 class="big"> Products </h1>



<div class="grid">

        <div class="media unit unit-s-1 unit-m-1-2 unit-l-3">
        
                {% include promo.html title="Face" desc="Super awesome sale" %}
            
        </div>
        
        
        <div class="media unit unit-s-1 unit-m-1-2 unit-l-1-3">
        
                {% include promo.html title="Eyes" desc="Super awesome sale" %}
            
        </div>
        
       

</div>
