---
layout: default
title: products
showbanner: yes
bannertext: HUGE SALE 50% OFF!
meta: "buy make-up online"
---
<h1 class="center"> Products </h1>



<div class="grid">

        <div class="media unit unit-s-1 unit-m-1 unit-l-1">
        
                {% include promo.html title="Promo 1" desc="Super awesome sale" %}
            
        </div>
        
        
        <div class="media unit unit-s-1 unit-m-1 unit-l-1">
        
                {% include promo.html title="Promo 1" desc="Super awesome sale" %}
            
        </div>
        
       

</div>
