<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>{{page.title}} · Powder Puff</title>
  <meta name="description" content="{{page.meta}}">
<meta name="handheldfriendly" content="true">
  <meta name="mobileoptimized" content="240">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
	<link href="{{site.baseurl}}/css/typography.css" rel="stylesheet">
    <link href="{{site.baseurl}}/css/buttons.css" rel="stylesheet">
    <link href="{{site.baseurl}}/css/large-promo.css" rel="stylesheet">
    <link href="{{site.baseurl}}/css/product.css" rel="stylesheet">
    <link href="{{site.baseurl}}/css/grid.css" rel="stylesheet">
    <link href="{{site.baseurl}}/css/search-field.css" rel="stylesheet">
    <link href="{{site.baseurl}}/css/header.css" rel="stylesheet">
    <link href="{{site.baseurl}}/css/footer.css" rel="stylesheet">
    <link href="{{site.baseurl}}/css/small-promo.css" rel="stylesheet">
    
</head>

<body>
<header>
			
			
			<nav>
            	<img src="{{site.baseurl}}/images/logo.svg" alt= "logo" class="logo img-flex">
                <div id="tfheader">
                        <form id="tfnewsearch" method="get" action="{{site.baseurl}}/search">
                                <input type="text" class="tftextinput" name="q" size="21" maxlength="120"><input type="submit" value="search" class="tfbutton">
                        </form>
            	<div class="tfclear"></div>
				</div>
					<ul class="main-nav">
						<li> <a class="{% if page.url == '/' %}current{% endif %}" href="{{site.baseurl}}/">home</a> </li>
						<li> <a class="{% if page.url contains '/about/' %}current{% endif %}"href="{{site.baseurl}}/about/">about</a> </li>
						<li> <a class="{% if page.url contains '/products/' %}current{% endif %}"href="{{site.baseurl}}/products/">products</a> </li>
                      <li> <a href="#">page 4</a> </li>
					</ul>
				</nav>
			
		</header>
        
        {% if page.showbanner %}
<div class="banner">
	<h2> {{page.bannertext}} </h2>
    
</div>
{% endif %}
 
 {{content}}
 
 <footer>
 
                <ul class="social">
				<li>
					<a class="ease-all" href="https://www.facebook.com">
						<i class="fa fa-facebook"></i>
						<span class="hide-text">Facebook</span>
					</a>
				</li>

				<li>
					<a class="ease-all" href="https://www.twitter.com">
						<i class="fa fa-twitter"></i>
						<span class="hide-text">Twitter</span>
					</a>
				</li>

				<li>
					<a class="ease-all" href="https://plus.google.com">
						<i class="fa fa-google-plus"></i>
						<span class="hide-text">Google +</span>
					</a>
				</li>
			</ul>
                <p class="copyright">Copyright © 2013 Powder Puff. All rights reserved</p>
			</footer>
 
</body>
</html>
